dde.local.sh
/commands/local.sh
/commands/local
!/commands/local/command.sh.dist


# Data directory
/data/*
!/data/.gitkeep
!/data/reverseproxy
/data/reverseproxy/*
!/data/reverseproxy/etc
/data/reverseproxy/etc/*
!/data/reverseproxy/etc/nginx
/data/reverseproxy/etc/nginx/*
!/data/reverseproxy/etc/nginx/conf.d
/data/reverseproxy/etc/nginx/conf.d/*
!/data/reverseproxy/etc/nginx/vhost.d
/data/reverseproxy/etc/nginx/vhost.d/*
!/data/reverseproxy/etc/nginx/conf.d/dde.conf

# Vagrant
.vagrant
ubuntu*.log
