services:

    ssh-agent:
        build:
            context: docker/ssh-agent/.
        restart: unless-stopped
        environment:
            - DDE_UID=${DDE_UID}
            - DDE_GID=${DDE_GID}
        volumes:
            - ~/.ssh:/home/dde/.ssh
            - ssh-agent_socket-dir:/tmp/ssh-agent
        hostname: ssh-agent
        domainname: test
        container_name: dde_ssh-agent

networks:
    default:
        name: dde
        external: true

volumes:
    ssh-agent_socket-dir:
        name: dde_ssh-agent_socket-dir
