## inline help for local:command
#
# more help for the command
#
# this will be displayed with the --help argument on the command
#
# e.g dde local:command --help
#

function local:command() {
    echo "execute local:command"
    _localCommand_someInternalFunction arg1
    _local_someGlobalHelperFunction
}

function _localCommand_someInternalFunction() {
    echo "do something with ${1}"
}






